<header class="header-v6">
  <div class="container">
    <div class="header-content-v8">
      <div class="logo-v8">
        <a href="{{ site.baseurl }}/" title=""><img src="{{ site.baseurl }}{{ site.data.settings.logo_dark }}" alt=""></a>
      </div>
      <!--logo end-->
            <nav>
        <ul>
          {% for item in site.data.navigation-menu.secondary.toc %}
          <li>
            {% if item.url %}
            {% if item.url contains "http" %}
            <a href="{{ item.url }}" title="{{ item.title }}" target="_blank" rel="noopener">{{ item.title }}</a>
            {% else %}
            <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            {% endif %}
            {% else %}
            <a href="#" title="">{{ item.title }}</a>
            <ul>
              {% for entry in item.subfolderitems %}
              <li>
                {% if entry.url contains "http" %}
                <a href="{{ entry.url }}" title="{{ entry.page }}" target="_blank" rel="noopener"
                  class="{% if entry.url == page.url %}active{% endif %}"
                  >{{ entry.page }}</a>
                {% else %}
                <a
                  href="{{ site.baseurl }}{{ entry.url }}"
                  title="{{ entry.page }}"
                  class="{% if entry.url == page.url %}active{% endif %}"
                  >{{ entry.page }}</a
                >
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!--nav end-->
      <div class="mile-right ms-auto">
        <button class="nav-toggle-btn a-nav-toggle ms-auto">
          <span class="nav-toggle nav-toggle-sm">
            <span class="stick stick-1"></span>
            <span class="stick stick-2"></span>
            <span class="stick stick-3"></span>
          </span>
        </button>

      </div>
      <!--mile-right end-->
    </div>
    <!--header-content end-->
  </div>
</header>
<!--header end-->
{% include sidemenu.html %}
