<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body onload="GetDownloads()">
  <div class="wrapper">
    {% include header/header.html %}
    <section class="main-banner-v9">
      <div class="container">
        <div class="banner-slider-v9 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          {% for slide in page.banner_slides %}
          <div class="banner-slide-v9">
            <span>{{ slide.tagline }}</span>
            <h2><span>{{ slide.title }}</span>{{ slide.suffix }}</h2>
            <p>{{ slide.description }}</p>
            {% if slide.cta.use_sienna_docs_install %}
            <a href="{{ site.baseurl }}{{ site.data.sienna_docs.hub }}{{ site.data.sienna_docs.pages.install }}" title="" class="btn-default-v9">{{ slide.cta.label }}</a>
            {% elsif slide.cta.url contains "http" %}
            <a href="{{ slide.cta.url }}" title="" class="btn-default-v9" target="_blank" rel="noopener">{{ slide.cta.label }}</a>
            {% else %}
            <a href="{{ site.baseurl }}{{ slide.cta.url }}" title="" class="btn-default-v9">{{ slide.cta.label }}</a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="about-v9">
      <div class="container">
        <div class="abt-v9-cntr">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="call-us-v9">
                <ul class="cl-ordr" id="contact">
                  <a href="{{ page.contact_bar.slack_url }}" target="_blank" rel="noopener">
                    <span class="icon-v9"><i class="lni lni-slack"></i></span></a>
                    <h4 style="min-width: 200px;">{{ page.contact_bar.slack_label }}</h4>
                  <a href="mailto:{{ page.contact_bar.email }}">
                    <span class="icon-v9"><i class="lni lni-envelope"></i></span></a>
                    <h4>{{ page.contact_bar.email_label }}</h4>
                </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="cl-ordr" id="counter">
            <li>
              <a href="{{ page.contact_bar.github_url }}" target="_blank" rel="noopener"><img alt="GitHub Org's stars" src="https://img.shields.io/github/stars/Sienna-Platform?logoSize=auto&link=https%3A%2F%2Fgithub.com%2FSienna-Platform" width="80%"></a>
              <span><a href="{{ page.contact_bar.github_url }}" target="_blank" rel="noopener">github.com/Sienna-Platform</a></span>
            </li>
            <li>
              <a href="{{ page.contact_bar.github_url }}" target="_blank" rel="noopener"><img alt="Downloads" src="https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fjuliapkgstats.com%2Fapi%2Fv1%2Ftotal_downloads%2Fpowersystems&query=total_requests&label=Downloads" width="175%"></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  </div>
  </section>

  <section class="services-v9">
    <div class="container">
      <div class="title-v9 text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
        <span>{{ page.capabilities.section.tagline }}</span>
        <h2><span>{{ page.capabilities.section.heading_highlight }}</span></h2>
      </div>
      <div class="row services_v9">
        {% for card in page.capabilities.cards %}
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><a href="{{ site.baseurl }}{{ card.link }}" title=""><i class="lni {{ card.icon }}"></i></a></span>
            <h3>
              <a href="{{ site.baseurl }}{{ card.link }}" title="">{{ card.title }}</a>
            </h3>
            <p>{{ card.description }}</p>
            <span class="s-category"><a href="{{ site.baseurl }}{{ card.link }}" title="">{{ card.category }}</a></span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="why-us-v9">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="why-txt-v9">
            <div class="title-v9">
              <span>{{ page.why_us.tagline }}</span>
              <h2><span>{{ page.why_us.heading_highlight }}</span> {{ page.why_us.heading_rest }}</h2>
            </div>
            <ul>
              {% for item in page.why_us.items %}
              <li>
                <div class="us-svs">
                  <span class="svs-icon">
                    <i class="lni {{ item.icon }}"></i>
                  </span>
                  <div class="svs-info">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wy-img wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0ms">
            <img src="{{ site.baseurl }}{{ page.why_us.image }}" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-v9-content">
    <div class="container-fluid">
      <div class="about-v9-row">
        <div class="ban-img-v9">
          <img src="{{ site.baseurl }}{{ page.about_nlr.image }}" alt="" />
        </div>
        <div class="about-v9-txt wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <span>{{ page.about_nlr.tagline }}</span>
          <h2>{{ page.about_nlr.heading_before }}<span>{{ page.about_nlr.heading_highlight }}</span></h2>
          <p>{{ page.about_nlr.body }}</p>
          <a href="{{ page.about_nlr.cta_url }}" target="_blank" title="" class="btn-default-v9 v2" rel="noopener">{{ page.about_nlr.cta_label }}</a>
          <a href="{{ page.about_nlr.video_url }}" target="_blank" title="" class="view-btn html5lightbox" rel="noopener">
            <span class="pl-btn"><i class="lni lni-play"></i></span>
            <span class="vt">{{ page.about_nlr.video_label }}</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  {% include testimonial/testimonial-developer.html %}

  <section class="blog-section-v7 v9">
    <div class="container">
      <div class="title-v9 text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
        <span><a href="{{ site.baseurl }}{{ page.publications_section.publications_url }}">{{ page.publications_section.tagline }}</a></span>
        <h2><span><a href="{{ site.baseurl }}{{ page.publications_section.publications_url }}">{{ page.publications_section.heading_highlight }}</a></span> <a href="{{ site.baseurl }}{{ page.publications_section.publications_url }}">{{ page.publications_section.heading_rest }}</a></h2>
      </div>
      <div class="blog-posts-v7">
        <div class="row">
          {% for publication in page.featured_publications limit: 3 %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog-post-v7">
              <div class="blog-thumbnail">
                <a href="{{ publication.url }}" target="_blank" rel="noopener"><img src="{{ site.baseurl }}{{ publication.layout_image }}" alt="" class="w-100" /></a>
              </div>
              <div class="blog-info">
                <ul class="meta">
                  <li>
                    <a>{{ page.date | date_to_long_string: "ordinal", "US" }}</a>
                  </li>
                </ul>
                <h2>
                  <a href="{{ publication.url }}" target="_blank" rel="noopener" title="">{{ publication.title }}</a>
                </h2>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a href="{{ site.baseurl }}{{ page.publications_section.publications_url }}" title="" class="btn-default-v9 v2">{{ page.publications_section.see_all_label }}</a>
      </div>
    </div>
  </section>

  {% include footer/footer-sienna.html %}
  </div>

  <script src="{{ site.baseurl }}/assets/js/bundle.min.js"></script>
</body>

</html>
